<div class="landing-page pt-5">
    <div class="d-flex flex-column justify-content-between landing-content-section">
        <div class="content-top">
            
            <div class="welcome-text text-center p-3 pb-5">
                <h4>Welcome to</h4>
                <img src="../../assets/images/WM_Title_Black.svg" class="logo-text-size my-3" />
                <h4>Pleasure to follow passion</h4>
            </div>

            <div class="landing-page-tile container pt-3">
                <div class="row justify-content-center card-gap">
                    <div class="col col-max-width d-flex flex-column align-items-center mb-3">
                        <div class="col-card text-center" [routerLink]="['/bridal-makeover']" >
                            <div class="tile-card">
                                <img class="logo-size" src="../../assets/images/Logo_Transparent.svg" />
                            </div>
                            <h3>Bridal Makeover</h3>
                        </div>
                    </div>
                    <div class="col col-max-width d-flex flex-column align-items-center mb-3">
                        <div class="col-card text-center" [routerLink]="['/hair-styling']" >
                            <div class="tile-card">
                                <img class="logo-size"  src="../../assets/images/Logo.svg" />
                            </div>
                            <h3>Hair Styling</h3>
                        </div>
                    </div>
                    <div class="col col-max-width d-flex flex-column align-items-center mb-3">
                        <div class="col-card text-center" [routerLink]="['/saree-draping']" >
                            <div class="tile-card">
                                <img class="logo-size"  src="../../assets/images/Logo.svg" />
                            </div>
                            <h3>Saree Draping</h3>
                        </div>
                    </div>

